/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import 'maas-style-guide/scss/variables.scss';

.maas-image {
  position: relative;

  &.is-loaded {
    animation: fadeIn 0.3s;
  }

  &.is-loading {
    background-color: $colour-grey-lighter;

    img {
      display: none;
    }
  }

  &.has-aspect-ratio {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

  .maas-image__status {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $colour-grey-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-size: $font-size-md;
    color: $colour-grey-darker;
  }
