@import 'maas-style-guide/scss/variables.scss';

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  position: relative;
  z-index: 60;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: none;
}

/*------------------------------------*\
    #HEADER__VENUE-MENU
\*------------------------------------*/

  .menu.header__venue-menu {
    display: flex;
    margin: 0 auto;
    height: 3px;
    width: 100%;
    max-width: $container-width-lg;
    transition: 0.5s;
    overflow: hidden;
    order: -1;

    &--is-active {
      height: $spacing-xxlg;
    }

    @media(min-width: $screen-sm-min) {
      padding: 0;
    }

    @media(min-width: $screen-lg-min) {
      padding: 0 $spacing-md;
    }
  }

  .header__venue-menu__item {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: "Circular-Medium";

    a {
      display: block;
      font-size: $font-size-xs;
      line-height: $spacing-xxxxlg;
    }

    a:link, a:visited {
      color: $colour-white;
    }

    &:nth-child(1) {
      background-color: $colour-pink;
    }

    &:nth-child(2) {
      background-color: $colour-teal;
    }

    &:nth-child(3) {
      background-color: $colour-grey-darker;
    }
  }

  /*------------------------------------*\
      #HEADER__CONTAINER
  \*------------------------------------*/

  .header__container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $container-width-lg;
    padding: 0;

    @media(min-width:$screen-lg-min) {
      padding-left: $spacing-md-rem;
      padding-right: $spacing-md-rem;
    }
  }

  /*------------------------------------*\
      #HEADER__GLOBAL
  \*------------------------------------*/

    .header__global {
      width: 100%;
      font-size: $font-size-lg;

      @media(min-width: $screen-sm-min) {
        border-bottom: none;
        /* @mixin gradient-bg $colour-grey-lightest, 85%, $colour-grey-lightest2, 15%; */
      }
    }

      .header__global__title {
        align-self: center;
        flex: 1;
        margin: 0;
        font-family: "Circular-Bold";
        font-size: $font-size-sm;
        text-align: center;

        a:link, a:visited {
          color: $colour-black;
        }

        @media(min-width: $screen-sm-min) {
          display: none;
        }
      }

      .header__global__logos {
        display: flex;
        flex: 1;
      }

      .header__global__logo {
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: $font-size-lg;
        margin: $spacing-xxxxxs 0 $spacing-xxxxxs $spacing-xxxxxs;

        @media(min-width: $screen-sm-min) {
          flex: none;
        }

        @media(min-width: $screen-lg-min) {
          margin-left: 0;
        }
      }

      .header__global__logo-image {
        height: $spacing-xlg;
        opacity: 0.9;
      }

      .header__global__logo-text {
        height: 1.10em;
        margin-left: 0.15em;
      }

      .header__global__menu {
        display: none;
        align-items: center;
        font-family: "Circular-Bold";
        font-size: $font-size-xs;
        margin-bottom: $spacing-xlg;

        @media(min-width: $screen-sm-min) {
          display: flex;
        }
      }

        .header__global__menu__item {
          position: relative;
          margin-left: $spacing-xxlg;

          a:link, a:visited {
            color: $colour-black;
            padding-top: $spacing-lg;
            padding-bottom: $spacing-lg;
          }

          a:hover, a:active {
            color: $colour-pink;
          }

          a.is-active {
            font-family: "Circular-Black";
            color: $colour-pink;

            /* &:after {
              display: block;
              position: absolute;
              bottom: -2.5em;
              left: calc(50% - 0.728em);
              width: 0;
              height: 0;
              content: '';
              font-size: $font-size-sm;
              border-right: 0.728em solid transparent;
              border-left: 0.728em solid transparent;
              border-bottom: 2em solid $colour-white;
            } */
          }

          /* TODO: Temp fix to hide submenu */
          & > .menu {
            display: none;
          }

          @media(min-width: $screen-md-min) {
            margin-left: $spacing-xxxlg;
          }
        }

  /*------------------------------------*\
      #HEADER__ICONS
  \*------------------------------------*/

    .header__icons {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      flex: 1;
      z-index: 2;
      margin-right: $spacing-xxxs;
      font-size: $font-size-sm;

      @media(min-width: $screen-md-min) {
        margin-right: $spacing-xxxxxs;
      }
    }

    .header__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $spacing-xxxxlg;
      height: $spacing-xxxxlg;
      cursor: pointer;

      &:link, &:visited {
        color: $colour-black;
      }

      &:hover, &:active {
        color: $colour-pink;
        text-decoration: none;
      }
    }

    .header__icon--user, .header__icon--shopping-cart {
      display: none;

      @media(min-width: $screen-sm-min) {
        display: flex;
      }
    }

/*------------------------------------*\
    #HEADER__PRIMARY
\*------------------------------------*/

  .header__primary {
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: $font-size-md;

    @media(min-width: $screen-sm-min) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .header__primary__line {
    display: none;
    height: 3px;
    width: 100%;
    max-width: $container-width-lg;

    @media(min-width: $screen-sm-min) {
      display: block;
      padding-left: $spacing-xxxs-rem;
      padding-right: $spacing-xxxs-rem;
    }

    @media(min-width: $screen-lg-min) {
      padding-left: $spacing-md-rem;
      padding-right: $spacing-md-rem;
    }

    &:before {
      content: '';
      display: block;
      border-top: 3px solid $colour-grey-lightest;
    }
  }

  .header__primary__holder {
    display: none;
    align-items: baseline;

    @media(min-width: $screen-sm-min) {
      display: flex;
    }
  }

  .header__primary__title {
    font-family: "Circular-Bold";
    font-size: $font-size-md;
    margin: $spacing-xxxxxs $spacing-xxlg $spacing-xxxs 0;
  }

  .menu.header__primary__menu {
    display: flex;
    list-style: none;
    margin: 0;
    font-family: "Circular-Book";

    @media(min-width: $screen-lg-min) {
      margin-left: 0;
    }
  }

    .header__primary__menu__item {
      font-size: $font-size-sm;
      margin-left: $spacing-xxxlg;
      padding: $spacing-xs 0;

      a:link, a:visited {
        color: $colour-black;
        text-decoration: none;
      }

      a:hover, a:active {
        color: $colour-primary;
      }

      a.is-active {
        color: $colour-primary;
        font-family: "Circular-Bold";
      }

      &:first-child {
        margin-left: 0;
      }
    }
