/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import 'maas-style-guide/scss/variables.scss';

.mega-menu {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 0;
  max-height: 0;
  background-color: $colour-grey-lightest;
  color: $colour-black;
  transition: 0.3s ease-in-out;
  text-align: center;

  h1, h2, h3 {
    color: $colour-grey-darker;
    margin-bottom: $font-size-xxxs;
  }

  h1 {
    font-size: $font-size-lg;
  }

  h2 {
    font-size: $font-size-md;
  }

  h3 {
    font-size: $font-size-sm;
  }

  &.is-active {
    overflow: auto;
    height: calc(100vh - 5.2em);
    max-height: 100vh;

    @media(min-width: $screen-sm-min) {
      overflow: hidden;
      height: auto;
      max-height: 400px;
    }
  }

  @media(min-width: $screen-sm-min) {
    position: relative;
  }
}

  .mega-menu__header {
    margin-bottom: $spacing-xs;
    height: $spacing-xxxlg;
  }

  .mega-menu__global-items, .mega-menu__menu-items {
    padding: 0;
    margin-top: 0;
    background-color: $colour-grey-lightest;
    font-family: "Circular-Bold";
    font-size: $font-size-sm;
    text-align: left;

    @media(min-width: $screen-sm-min) {
      display: none;
    }
  }

  .mega-menu__global-item, .mega-menu__menu-item {
    list-style: none;

    a:link, a:visited {
      display: block;
      padding: $spacing-xs $spacing-md;
      font-size: $font-size-xlg;
      text-decoration: none;
      color: $colour-black;
    }

    a:active, a:hover {
      color: $colour-pink-dark;
    }

    a.is-active {
      color: $colour-pink;
      background-color: $colour-white;
    }

    /* TODO: Set proper name from sub menu */
    & > .menu {
      padding-left: $spacing-md;
      background-color: $colour-white;

      @media(min-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  .mega-menu__global-items--sm {
    font-size: $font-size-xs;
  }

  .mega-menu__menu-items {
    border-bottom: $spacing-md solid $colour-grey-lighter;
  }
