/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import 'maas-style-guide/scss/variables.scss';

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

  .menu__item {
    a:link, a:visited {
      text-decoration: none;
    }
  }
