@import 'maas-style-guide/scss/variables.scss';

.video {
  margin: 0 auto $spacing-md;
  position: relative;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
