/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import 'maas-style-guide/scss/variables.scss';

.footer {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: $colour-black;
  font-size: $font-size-lg;
  color: $colour-white;
  text-align: left;
  flex: none;

  a:link, a:visited {
    color: $colour-grey-lightest;
  }

  a:hover, a:active {
    text-decoration: underline;
  }

  h3 {
    font-family: "Circular-Bold";
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin: 0;
  }

  @media(min-width: $screen-sm-min) {
    font-size: $font-size-md;
  }
}

.footer--is-in-header {
  display: none;
  background-color: $colour-grey-lightest;
  border-bottom: 3px solid $colour-white;

  h3 {
    color: $colour-black;
  }

  a:link, a:visited {
    color: $colour-grey-darkest;
  }

  @media(min-width: $screen-sm-min) {
    display: block;
  }
}

.footer__main {
  lost-utility: clearfix;
  margin-bottom: 1em;

  @media(min-width: $screen-sm-min) {
    padding-bottom: 1em;
  }
}

  .footer__section {
    font-size: $font-size-xs;
    margin-bottom: $spacing-md;

    lost-column: 1/2;

    @media(min-width: $screen-sm-min) {
      lost-column: 1/4;

      margin-bottom: 0;
    }
  }

    .footer__menu__item {
    }

  .footer__sign-up {
    font-size: $font-size-sm;
    padding-right: $spacing-lg;
  }

  .footer__base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/*
 * #SOCIAL-MENU
 * -------------------------------------------------------------------------- */

.social-menu {
  display: flex;
  margin-bottom: $spacing-md;
}

  .social-menu__item {
    padding: 0 $spacing-xxxs;
  }

/*
 * #LEGAL-MENU
 * -------------------------------------------------------------------------- */

.legal-menu {
  display: block;
  text-align: center;
  font-size: $font-size-xs;

  @media(min-width: $screen-sm-min) {
    display: flex;
  }
}

  .legal-menu__item {
    display: inline-block;
    margin-bottom: $spacing-sm;
    padding-right: $spacing-md;
    padding-left: $spacing-md;
    border-right: 1px solid $colour-grey-darkest;

    &:last-child {
      border-right: none;
    }

    @media(min-width: $screen-sm-min) {

    }
  }
